.direction__img {
    height: 80%;
    width: 100%;
    top: -10%;
    padding: 0;
    margin: 0;
}

.first__part {
    width: 100%;
    background-color: #81C4F4;
    color: #002642;
}

.margin__top {
    margin-top: 100px;
}

.padding-strict {
    padding-left: 20%;
    padding-right: 20%;
}

.second__part {
    height: 50vh;
    background-color: #ffffff;
}

.third__part {
    height: 60vh;
    background-color: #626568;
}

@media screen and (max-width: 768px) {
    .first__container {
        height: 300px;
    }

    .second__part {
        height: 120%;
    }

    .padding-strict {
        padding-left: 10%;
        padding-right: 10%;
    }
}