.nav-properties {
    width: 100%;
    height: 80px;
    position: fixed;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 !important;
    z-index: 1;
}

.nav-logo {
    max-height: 80px;
    font-size: 35px;
    color: #004D84;
    text-decoration: none;
}

.right-side {
    text-align: right;
}